{{ define "title" }}Privacy Policy{{ end }} {{ define "main" }}
<div class="view">
  <div class="mt-2 flex flex-row justify-end items-center md:mr-20">
    <h1 class="my-2 mr-2 text-end text-lg font-bold text-black">
      سياسة الخصوصية
    </h1>
    <svg
      width="20"
      height="20"
      viewBox="0 0 20 20"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      onclick="history.back()"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M6.91042 15.5894C6.58498 15.264 6.58498 14.7363 6.91042 14.4109L11.3212 10.0002L6.91042 5.58942C6.58498 5.26398 6.58498 4.73634 6.91042 4.41091C7.23586 4.08547 7.76349 4.08547 8.08893 4.41091L13.0889 9.41091C13.4144 9.73634 13.4144 10.264 13.0889 10.5894L8.08893 15.5894C7.76349 15.9149 7.23586 15.9149 6.91042 15.5894Z"
        fill="#202020"
      />
    </svg>
  </div>

  <div
    class="text-md mt-4 grid grid-cols-1 justify-items-center gap-y-4 pb-20 md:pb-0"
  >
    <div class="w-full place-self-end text-end md:w-5/6">
      <h1 class="font-bold text-lg">شروط الاستخدام</h1>
      <p>hello world how are you?</p>
    </div>
  </div>
</div>
{{ end }}
