{{ define "title" }}Privacy Policy{{ end }} {{ define "main" }}
<div class="view">
  <div class="mt-2 flex flex-row justify-end items-center md:mr-20">
    <h1 class="my-2 mr-2 text-end text-lg font-bold text-black">
      سياسة الخصوصية
    </h1>
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"
      onclick="history.back()">
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M6.91042 15.5894C6.58498 15.264 6.58498 14.7363 6.91042 14.4109L11.3212 10.0002L6.91042 5.58942C6.58498 5.26398 6.58498 4.73634 6.91042 4.41091C7.23586 4.08547 7.76349 4.08547 8.08893 4.41091L13.0889 9.41091C13.4144 9.73634 13.4144 10.264 13.0889 10.5894L8.08893 15.5894C7.76349 15.9149 7.23586 15.9149 6.91042 15.5894Z"
        fill="#202020" />
    </svg>
  </div>

  <div class="text-md mt-4 grid grid-cols-1 justify-items-center gap-y-4 pb-20 md:pb-0">
    <div class="w-full place-self-end text-end md:w-5/6">
      <h1 class="font-bold text-lg">مقدمة</h1>
      <p>نحن في تطبيق "رحلة" نلتزم بحماية خصوصية مستخدمينا وبمعالجة بياناتهم الشخصية بأمان وسرية. تهدف سياسة الخصوصية
        هذه إلى
        توضيح كيفية جمعنا واستخدامنا وحماية معلومات المستخدمين في تطبيق "رحلة". يجب على كل مستخدم للتطبيق قراءة هذه
        السياسة
        وفهمها جيدًا قبل استخدام التطبيق أو تقديم أي معلومات شخصية.

        عندما تستخدم تطبيق "رحلة"، فإنك توافق على جمع واستخدام معلوماتك الشخصية وفقًا لهذه السياسة. إذا كنت غير موافق
        على أي جزء
        من هذه السياسة، فيرجى عدم استخدام التطبيق.</p>
      <h1 class="font-bold text-lg">جمع المعلومات واستخدامها</h1>
      <p>نحن في تطبيق "رحلة" نقوم بجمع معلومات محددة من المستخدمين واستخدامها بما يتناسب مع تقديم خدماتنا وتحسينها. يشمل
        ذلك على
        سبيل المثال لا الحصر:
      <ul>
        <li>المعلومات التي تقدمها المستخدمين: مثل الاسم وعنوان البريد الإلكتروني ورقم الهاتف عند التسجيل في التطبيق أو
          عند تحديث
          الملف الشخصي.</li>
        <li>البيانات التي يتم جمعها تلقائيًا: مثل عنوان IP، ونوع المتصفح، ونظام التشغيل، والصفحات التي قام المستخدم
          بزيارتها داخل
          التطبيق.</li>
        <li>معلومات الاستخدام: مثل تفاصيل النشاط داخل التطبيق، مثل الدورات المفضلة والمواد المشاهدة، والتفاعل مع المحتوى
          التعليمي.</li>
      </ul>
      نستخدم هذه المعلومات لتحسين تجربة المستخدم، وتخصيص الخدمات، وتقديم محتوى أكثر شمولًا وفعالية، وتحليل استخدام
      التطبيق،
      والتواصل مع المستخدمين بشأن الخدمات والتحديثات والعروض الجديدة.
      </p>
      <h1 class="font-bold text-lg">أمان البيانات</h1>
      <p>نحن في تطبيق "رحلة" نأخذ أمان بيانات المستخدمين بجدية شديدة ونتخذ التدابير اللازمة لحمايتها من الوصول غير
        المصرح به أو
        الاستخدام أو التغيير أو الإفشاء. يتضمن ذلك على سبيل المثال لا الحصر:
      <ul>
        <li>تشفير البيانات: نستخدم تقنيات التشفير لحماية البيانات الشخصية والمعلومات الحساسة التي يتم نقلها عبر
          الإنترنت.</li>
        <li>التدابير الأمنية: نطبق إجراءات أمان متعددة مثل الوصول المحدود إلى البيانات والمراقبة المستمرة والاختبار
          الأمني لضمان
          سلامة البيانات.</li>
        <li>التدريب على الأمان: نوفر تدريبًا دوريًا لموظفينا لزيادة الوعي بأمان المعلومات وممارسات الخصوصية.</li>
      </ul>
      على الرغم من اتخاذنا للتدابير الأمنية اللازمة، إلا أنه يجب ملاحظة أنه لا يمكننا ضمان أمان مطلق للبيانات عبر
      الإنترنت ولا
      يمكننا قبول أي مسؤولية عن أي خسائر أو أضرار تنتج عن انتهاك أمن البيانات ما لم يكن ذلك ناتجًا عن إهمال من جانبنا.
      </p>
      <h1 class="font-bold text-lg">خصوصية الأطفال</h1>
      <p>تطبيق "رحلة" غير موجه للأطفال الذين تقل أعمارهم عن ١٣ عامًا، ونحن لا نقوم بجمع معلومات من الأطفال دون الحصول
        على موافقة
        واضحة من ولي الأمر. في حال اكتشافنا جمع معلومات شخصية عن طفل دون الحصول على موافقة من ولي الأمر، فإننا سنقوم
        باتخاذ
        الإجراءات اللازمة لحذف هذه المعلومات من خوادمنا بأسرع ما يمكن.

        إذا كنت ولي أمر وتعلمت أن طفلك قد قدم لنا معلومات شخصية دون موافقتك، فيرجى الاتصال بنا على الفور عبر البريد
        الإلكتروني
        privacy@rehlaapp.com، وسنقوم باتخاذ الخطوات اللازمة لحذف هذه المعلومات من سجلاتنا.</p>
      <h1 class="font-bold text-lg">الامتثال التنظيمي</h1>
      <p>نحن في تطبيق "رحلة" نلتزم بجميع القوانين والتشريعات المعمول بها فيما يتعلق بحماية البيانات الشخصية والخصوصية.
        نعمل بجد
        للامتثال للتشريعات المحلية والدولية المتعلقة بحماية البيانات والخصوصية، بما في ذلك العمل مع السلطات الرقابية
        المعنية
        والتزامنا بمبادئ الامتثال القانوني والأخلاقي في جميع جوانب أعمالنا.

        نحن نقدر ثقة مستخدمينا ونأخذ بعين الاعتبار مسؤوليتنا تجاه حماية بياناتهم الشخصية بأقصى درجات الجدية والاحترام.
      </p>
      <h1 class="font-bold text-lg">تغييرات في سياسة الخصوصية</h1>
      <p>قد نقوم بتحديث سياسة الخصوصية هذه من حين لآخر ليتماشى مع التغييرات القانونية أو التحديثات في الخدمات أو لأي
        أسباب أخرى.
        سيتم نشر أي تغيير على هذه الصفحة وسيتم إشعار المستخدمين بالتغييرات الجديدة قبل أن تصبح سارية المفعول. يُنصح
        بالتحقق
        المتكرر لهذه الصفحة للبقاء على اطلاع دائم بسياسة الخصوصية الحالية.

        تاريخ آخر تحديث: 24 مارس 2024</p>
      <h1 class="font-bold text-lg">تواصل معنا</h1>
      <p>إذا كان لديك أي استفسارات أو مخاوف بخصوص سياسة الخصوصية الخاصة بتطبيق "رحلة"، يمكنك التواصل معنا عبر البريد
        الإلكتروني:

        privacy@rehlaapp.com

        يمكنك أيضًا الاتصال بنا عبر الهاتف:

        +964 780 208 9950</p>
    </div>
  </div>
</div>
{{ end }}