{{ define "title" }}Reset Password{{ end }} {{ define "main" }}
<div class="view">
  <div class="mt-2 flex flex-row justify-end items-center md:mr-20">
    <h1 class="my-2 mr-2 text-end text-lg font-bold text-black">
      تغيير كلمة المرور
    </h1>
    <svg
      width="20"
      height="20"
      viewBox="0 0 20 20"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      onclick="history.back()"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M6.91042 15.5894C6.58498 15.264 6.58498 14.7363 6.91042 14.4109L11.3212 10.0002L6.91042 5.58942C6.58498 5.26398 6.58498 4.73634 6.91042 4.41091C7.23586 4.08547 7.76349 4.08547 8.08893 4.41091L13.0889 9.41091C13.4144 9.73634 13.4144 10.264 13.0889 10.5894L8.08893 15.5894C7.76349 15.9149 7.23586 15.9149 6.91042 15.5894Z"
        fill="#202020"
      />
    </svg>
  </div>

  <div
    class="text-md mt-4 grid grid-cols-1 justify-items-center gap-y-4 pb-20 md:pb-0"
  >
    <form
      id="reset_password_form"
      class="grid w-full grid-cols-1 gap-y-4 text-end md:w-5/6"
    >
      <input
        class="h-12 w-full rounded-lg border-4 p-4 text-end"
        name="current_password"
        type="password"
        placeholder="كلمة المرور الحالية"
      />
      <input
        class="h-12 w-full rounded-lg border-4 p-4 text-end"
        name="new_password"
        type="password"
        placeholder="كلمة المرور الجديدة"
      />
      <input
        class="h-12 w-full rounded-lg border-4 p-4 text-end"
        name="confirm_new_password"
        type="password"
        placeholder="تأكيد كلمة المرور الجديدة"
      />
    </form>
    <div class="mt-8 flex w-full flex-row text-lg font-bold md:w-5/6">
      <button
        hx-post="reset"
        hx-swap="none"
        hx-include="#reset_password_form"
        class="flex flex-grow flex-row justify-center items-center rounded-xl bg-[#A490BB] py-3"
      >
        <h1 class="mr-2 text-white">حفظ</h1>
        <svg
          width="19"
          height="13"
          viewBox="0 0 19 13"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M17.9591 0.292893C18.3496 0.683417 18.3496 1.31658 17.9591 1.70711L6.95906 12.7071C6.56854 13.0976 5.93537 13.0976 5.54485 12.7071L0.544846 7.70711C0.154322 7.31658 0.154322 6.68342 0.544846 6.29289C0.935371 5.90237 1.56854 5.90237 1.95906 6.29289L6.25195 10.5858L16.5448 0.292893C16.9354 -0.0976311 17.5685 -0.0976311 17.9591 0.292893Z"
            fill="white"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
{{ end }}
