{{ define "nav" }}
<nav class="fixed right-0 top-0 hidden h-full w-[87px] text-slate-400 bg-zinc-100 md:block">
    <div class="flex flex-col items-center">
        <div id="tabUsername" class="w-12 overflow-hidden rounded-full border-2 border-zinc-600 my-1.5">
            <img src="https://placehold.co/100x100" alt="profile" />
        </div>
        <div class="flex flex-col items-center my-1.5">
            <img src="https://raw.githubusercontent.com/alghurabi0/temp-icons/main/home.png" class="w-7 h-7" />
            <p class="leading-none">Home</p>
        </div>
        <div class="flex flex-col items-center my-1.5">
            <img src="https://raw.githubusercontent.com/alghurabi0/temp-icons/main/home.png" class="w-7 h-7" />
            <p class="leading-none">Home</p>
        </div>
        <div class="flex flex-col items-center my-1.5">
            <img src="https://raw.githubusercontent.com/alghurabi0/temp-icons/main/home.png" class="w-7 h-7" />
            <p class="leading-none">Home</p>
        </div>
        <div class="flex flex-col items-center my-1.5">
            <img src="https://raw.githubusercontent.com/alghurabi0/temp-icons/main/home.png" class="w-7 h-7" />
            <p class="leading-none">Home</p>
        </div>
        <div class="flex flex-col items-center my-1.5">
            <img src="https://raw.githubusercontent.com/alghurabi0/temp-icons/main/home.png" class="w-7 h-7" />
            <p class="leading-none">Home</p>
        </div>
        <div class="flex flex-col items-center my-1.5">
            <img src="https://raw.githubusercontent.com/alghurabi0/temp-icons/main/home.png" class="w-7 h-7" />
            <p class="leading-none">Home</p>
        </div>
        <div class="flex flex-col items-center my-1.5">
            <img src="https://raw.githubusercontent.com/alghurabi0/temp-icons/main/home.png" class="w-7 h-7" />
            <p class="leading-none">Home</p>
        </div>
        <div class="flex flex-col items-center my-1.5">
            <img src="https://raw.githubusercontent.com/alghurabi0/temp-icons/main/home.png" class="w-7 h-7" />
            <p class="leading-none">Home</p>
        </div>
        <div class="flex flex-col items-center my-1.5">
            <img src="https://raw.githubusercontent.com/alghurabi0/temp-icons/main/home.png" class="w-7 h-7" />
            <p class="leading-none">Home</p>
        </div>
    </div>
</nav>
{{ end }}
