{{ define "tabNav" }}
<footer class="fixed bottom-0 left-0 w-full bg-zinc-100 md:hidden">
    <div class="flex justify-around">
        <div class="flex-grow flex items-center justify-center pt-4 pb-2">
            <img src="https://raw.githubusercontent.com/alghurabi0/temp-icons/main/home.png" class="w-8" />
        </div>
        <div class="flex-grow flex items-center justify-center pt-4 pb-2">
            <img src="https://raw.githubusercontent.com/alghurabi0/temp-icons/main/home.png" class="w-8" />
        </div>
        <div class="flex-grow flex items-center justify-center pt-4 pb-2">
            <img src="https://raw.githubusercontent.com/alghurabi0/temp-icons/main/home.png" class="w-8" />
        </div>
        <div class="flex-grow flex items-center justify-center pt-4 pb-2">
            <img src="https://raw.githubusercontent.com/alghurabi0/temp-icons/main/home.png" class="w-8" />
        </div>
        <div class="flex-grow flex items-center justify-center pt-4 pb-2">
            <img src="https://raw.githubusercontent.com/alghurabi0/temp-icons/main/home.png" class="w-8" />
        </div>
    </div>
</footer>
{{ end }}
