{{ define "title" }}انشاء حساب{{ end }} {{ define "main" }}
<div
  class="view w-full bg-cover bg-center bg-no-repeat"
  style="background-image: url(&quot;/static/icons/bgimg&quot;)"
>
  <div class="mx-auto max-w-md">
    <div class="ml-2 flex flex-row justify-start">
      <h1 class="my-2 mr-2 text-xl text-white">مشاركة</h1>
      <img src="https://placehold.co/20x20" />
    </div>
    <div
      class="text-md mt-4 grid grid-cols-1 justify-items-center gap-y-4 pb-10"
    >
      <img src="https://placehold.co/100x100" class="w-2/5" />
      {{ template "signupForm" }} {{ template "verifyForm" }}
      <div class="flex w-full flex-row justify-between text-white">
        <div class="ml-2 flex flex-row">
          <h2 class="mr-2">البريد الالكتروني</h2>
          <img src="https://placehold.co/25x25" />
        </div>
        <div class="mr-2 flex flex-row">
          <h2 class="mr-2">اتصل بنا</h2>
          <img src="https://placehold.co/25x25" />
        </div>
      </div>
      <div class="flex flex-row text-sm text-white">
        <p class="mr-2">جميع الحقوق محفوظة لتطبيق رحلة 2023</p>
        <img src="https://placehold.co/20x20" />
      </div>
      <script type="module" defer src="/static/js/auth.js"></script>
    </div>
  </div>
</div>
{{ end }}
