{{ define "base" }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <link rel="stylesheet" href="/static/css/tailwind.css" />
    <link rel="manifest" href="/static/web.webmanifest" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.12"
      integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.13"></script>
    <script type="module" src="/static/js/base.js"></script>
    <script src="sw-register.js"></script>
    <title>{{template "title" .}} - Rehla</title>
  </head>

  <body
    class="h-screen min-h-screen select-none bg-white font-readex leading-normal tracking-normal"
    _="on htmx:afterRequest
       if event.detail.xhr.status is 500
         set #error-banner.style.display to 'block'
         wait 4s
         set #error-banner.style.display to 'none'
       end
       end
      "
  >
    <main
      class="mx-auto overflow-y-scroll h-screen rounded-lg shadow-lg md:max-w-5xl"
      _="on htmx:responseError 
      if event.detail.xhr.responseText is 'loginRequired' 
      then log 'login required' 
      then call #loginDialog's showModal()
      then add .flex to #loginDialog
      then remove .hidden from #loginDialog
      else if event.detail.xhr.responseText is 'subRequired'
      then log 'subscription required'
      then call #subDialog's showModal()
      then add .flex to #subDialog
      then remove .hidden from #subDialog"
    >
      <div
        id="error-banner"
        style="
          display: none;
          background: red;
          color: white;
          padding: 10px;
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          text-align: center;
          z-index: 1000;
        "
      >
        Something went wrong
      </div>
      <div class="w-full p-4">
        {{ template "nav" . }} {{ template "main" . }}
      </div>
      {{ template "loginRequired" }} {{ template "subRequired" }} {{ template
      "tabNav" . }} {{ template "nav_drawer" . }}
    </main>
    <script type="text/hyperscript">
      on load or popstate or htmx:afterRequest
      set myRoute to window.location.pathname
      set pur to 'bg-[#A490BB]'
      if myRoute is '/'
        set (<path/> in #nav_tab).style.fill to '#ADADAD'
        set (<path/> in #home_nav_tab).style.fill to '#612C8C'

        set (<path/> in #nav_drawer).style.fill to '#202020'
        remove .text-white from <bdi/> in .nav_drawer_item
        remove .{pur} from .nav_drawer_item
        set (<path/> in #home_nav_drawer).style.fill to 'white'
        add .text-white to <bdi/> in #home_nav_drawer
        add .{pur} to #home_nav_drawer

        remove .activeNav from <div/> in #mobile_nav
        add .activeNav to #home_nav

      else if myRoute matches '^/courses'

        set (<path/> in #nav_tab).style.fill to '#ADADAD'
        set (<path/> in #courses_nav_tab).style.fill to '#612C8C'

        set (<path/> in #nav_drawer).style.fill to '#202020'
        remove .text-white from <bdi/> in .nav_drawer_item
        remove .{pur} from .nav_drawer_item
        set (<path/> in #courses_nav_drawer).style.fill to 'white'
        add .text-white to <bdi/> in #courses_nav_drawer
        add .{pur} to #courses_nav_drawer

        remove .activeNav from <div/> in #mobile_nav
        add .activeNav to #courses_nav

      else if myRoute matches '^/materials'

        set (<path/> in #nav_tab).style.fill to '#ADADAD'
        set (<path/> in #materials_nav_tab).style.fill to '#612C8C'

        set (<path/> in #nav_drawer).style.fill to '#202020'
        remove .text-white from <bdi/> in .nav_drawer_item
        remove .{pur} from .nav_drawer_item
        set (<path/> in #materials_nav_drawer).style.fill to 'white'
        add .text-white to <bdi/> in #materials_nav_drawer
        add .{pur} to #materials_nav_drawer

        remove .activeNav from <div/> in #mobile_nav
        add .activeNav to #materials_nav

      else if myRoute matches '^/progress'

        set (<path/> in #nav_tab).style.fill to '#ADADAD'
        set (<path/> in #progress_nav_tab).style.fill to '#612C8C'

        set (<path/> in #nav_drawer).style.fill to '#202020'
        remove .text-white from <bdi/> in .nav_drawer_item
        remove .{pur} from .nav_drawer_item
        set (<path/> in #progress_nav_drawer).style.fill to 'white'
        add .text-white to <bdi/> in #progress_nav_drawer
        add .{pur} to #progress_nav_drawer

        remove .activeNav from <div/> in #mobile_nav
        add .activeNav to #progress_nav

      else if myRoute matches '^/myprofile'

        set (<path/> in #nav_tab).style.fill to '#ADADAD'
        set (<path/> in #profile_nav_tab).style.fill to '#612C8C'

        set (<path/> in #nav_drawer).style.fill to '#202020'
        remove .text-white from <bdi/> in .nav_drawer_item
        remove .{pur} from .nav_drawer_item
        set (<path/> in #profile_nav_drawer).style.fill to 'white'
        add .text-white to <bdi/> in #profile_nav_drawer
        add .{pur} to #profile_nav_drawer

        remove .activeNav from <div/> in #mobile_nav
        add .activeNav to #profile_nav
      end
    </script>
  </body>
</html>
{{ end }}
