{{ define "title" }}Add New Lec{{ end }} {{ define "main" }}
<div class="mt-12 mb-8 flex flex-col gap-12 view">
  <div
    class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md"
  >
    {{ template "lecForm" . }}
  </div>
  <div id="wistia_uploader" style="height: 360px; width: 640px"></div>
  <script src="//fast.wistia.com/assets/external/api.js" async></script>
  <link
    rel="stylesheet"
    href="//fast.wistia.com/assets/external/uploader.css"
  />
  <script>
    window._wapiq = window._wapiq || [];
    _wapiq.push(function (W) {
      window.wistiaUploader = new W.Uploader({
        accessToken: "{{ .WistiaToken }}",
        dropIn: "wistia_uploader",
        projectId: "{{ .Course.FolderId }}",
        beforeUpload: validate,
      });
      wistiaUploader.bind(
        "uploadembeddable",
        function (file, media, embedCode, oembedResponse) {
          document.getElementById("video_url").value = media.id;
          const lecForm = document.getElementById("lec_form");
          console.log("triggering htmx submit");
          htmx.trigger(lecForm, "submit");
        },
      );
    });

    function validate() {
      const title = document.getElementById("title").value.trim();
      const description = document.getElementById("description").value.trim();
      const order = document.getElementById("order").value.trim();

      if (!title || !description || !order) {
        alert("All fields are required!");
        wistiaUploader.cancel();
        return;
      }

      // Check if order is a number and is 1 or higher
      const orderNumber = parseInt(order, 10);
      if (isNaN(orderNumber) || orderNumber < 1) {
        alert("Order must be a number and 1 or higher!");
        wistiaUploader.cancel();
        return;
      }
    }
  </script>
</div>
{{ end }}
