@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .activeTab {
        border-color: #8a4baf;
        border-bottom-width: 2px;
        padding-bottom: 5px;
    }
    .activeNav {
        border-color: #8a4baf;
        border-top-width: 4px;
        padding-top: 7px;
    }
}
