{{ define "title" }}Courses{{ end }} {{ define "main" }}
<div class="view">
  <div class="flex flex-row justify-end">
    <h1 class="mr-2 my-2 text-end text-xl font-bold text-black">
        Courses
    </h1>
    <svg
      width="20"
      height="20"
      viewBox="0 0 20 20"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      onclick="history.back()"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M6.91042 15.5894C6.58498 15.264 6.58498 14.7363 6.91042 14.4109L11.3212 10.0002L6.91042 5.58942C6.58498 5.26398 6.58498 4.73634 6.91042 4.41091C7.23586 4.08547 7.76349 4.08547 8.08893 4.41091L13.0889 9.41091C13.4144 9.73634 13.4144 10.264 13.0889 10.5894L8.08893 15.5894C7.76349 15.9149 7.23586 15.9149 6.91042 15.5894Z"
        fill="#202020"
      />
    </svg>
  </div>
  <div
    class="text-md mt-4 grid grid-cols-1 justify-items-center gap-y-4 pb-20 md:pb-0"
  >
    {{ range .Courses }} {{ template "courseCard" . }} {{ end }}
  </div>
</div>
{{ end }} {{ define "courseCard" }}
<div
  class="flex h-[180px] w-full flex-row items-center justify-between rounded-lg p-2 shadow-lg md:w-4/5 bg-[#E5E5E5E5]"
>
  <img
    src="{{if .TeacherImg}}{{.TeacherImg}}{{end}}"
    alt="icon"
    class="h-[150px]"
  />

  <div class="flex flex-col w-1/2 items-end">
    <h1 class="font-bold text-lg">{{ .Title }}</h1>
    <h2 class="font-bold">الاستاذ: {{ .Teacher }}</h2>

    <div class="flex flex-row mt-3">
      <div class="flex flex-row">
        <p class="text-xs mr-1 text-slate-500">دينار عراقي</p>
        <p class="text-xs text-slate-500">{{ .Price }}</p>
      </div>
      <img src="https://placehold.co/25x25" class="ml-1" />
    </div>

    <div class="flex flex-row">
      <p class="text-sm text-slate-500">
        {{if .NumberOfLecs}}{{.NumberOfLecs}}{{end}}
      </p>
      <img src="https://placehold.co/25x25" class="ml-1" />
    </div>

    <button
      class="mt-2 w-3/4 p-1 rounded-full border-black border-2 cursor-pointer bg-[#E5E5E5E5]"
      hx-get="/courses/{{ .ID }}"
      hx-select=".view"
      hx-target=".view"
      hx-swap="outerHTML"
      hx-push-url="true"
    >
      التفاصيل
    </button>
  </div>
</div>
{{ end }}
