{{ define "title" }}Home{{ end }} {{ define "main" }}
<div class="view">
    {{ if not .IsLoggedIn }}
    <button hx-get="/signup" hx-select=".view" hx-target="main" hx-swap="outerHTML" hx-push-url="true">
        sign up
    </button>
    <button hx-get="/login" hx-select=".view" hx-target="main" hx-swap="outerHTML" hx-push-url="true">
        log in
    </button>
    {{ end }}
    <h1 class="text-end font-bold text-xl my-2 text-black">الاقسام الرئيسية</h1>

    <div
        class="text-md mt-4 grid grid-cols-2 justify-items-center gap-y-4 font-bold leading-5 text-[#612C8C] md:grid-cols-3 pb-20 md:pb-0">
        <div class="flex h-[135px] w-[135px] flex-col items-center justify-center rounded-lg p-2 shadow-lg bg-[#E5E5E5E5] md:h-36 md:w-36"
            hx-get="/progress" hx-select=".view" hx-target=".view" hx-swap="outerHTML" hx-push-url="true">
            <img src="https://raw.githubusercontent.com/alghurabi0/temp-icons/main/Video.png" alt="icon"
                class="h-[90px] w-[90px] sm:h-[100px] sm:w-[100px]" />
            <span class="mb-6">مستوى التقدم</span>
        </div>
        <div class="flex h-[135px] w-[135px] flex-col items-center justify-center rounded-lg p-2 shadow-lg bg-[#E5E5E5E5] sm:h-36 sm:w-36 cursor-pointer"
            hx-get="/courses" hx-select=".view" hx-target=".view" hx-swap="outerHTML" hx-push-url="true">
            <img src="https://raw.githubusercontent.com/alghurabi0/temp-icons/main/Video.png" alt="icon"
                class="h-[90px] w-[90px] md:h-[100px] md:w-[100px]" />
            <span class="mb-6">الدروس</span>
        </div>
        <div hx-get="/materials" hx-select=".view" hx-target=".view" hx-swap="outerHTML" hx-push-url="true"
            class="flex h-[135px] w-[135px] flex-col items-center justify-center rounded-lg p-2 shadow-lg bg-[#E5E5E5E5] sm:h-36 sm:w-36">
            <img src="https://raw.githubusercontent.com/alghurabi0/temp-icons/main/Video.png" alt="icon"
                class="h-[90px] w-[90px] sm:h-[100px] sm:w-[100px]" />
            <span class="mb-6">المواد الإضافية</span>
        </div>
        <div hx-get="/myprofile" hx-select=".view" hx-target=".view" hx-swap="outerHTML" hx-push-url="true"
            class="flex h-[135px] w-[135px] flex-col items-center justify-center rounded-lg p-2 shadow-lg bg-[#E5E5E5E5] sm:h-36 sm:w-36"
            hx-get="/myprofile" hx-select=".view" hx-target=".view" hx-swap="outerHTML" hx-push-url="true">
            <img src="https://raw.githubusercontent.com/alghurabi0/temp-icons/main/Video.png" alt="icon"
                class="h-[90px] w-[90px] sm:h-[100px] sm:w-[100px]" />
            <span class="mb-6">ملفي الشخصي</span>
        </div>
        <div
            class="flex h-[135px] w-[135px] flex-col items-center justify-center rounded-lg p-2 shadow-lg bg-[#E5E5E5E5] sm:h-36 sm:w-36">
            <img src="https://raw.githubusercontent.com/alghurabi0/temp-icons/main/Video.png" alt="icon"
                class="h-[90px] w-[90px] sm:h-[100px] sm:w-[100px]" />
            <span class="mb-6">الدردشة</span>
        </div>
        <div
            class="flex h-[135px] w-[135px] flex-col items-center justify-center rounded-lg p-2 shadow-lg bg-[#E5E5E5E5] sm:h-36 sm:w-36">
            <img src="https://raw.githubusercontent.com/alghurabi0/temp-icons/main/Video.png" alt="icon"
                class="h-[90px] w-[90px] sm:h-[100px] sm:w-[100px]" />
            <span class="mb-6">الألعاب</span>
        </div>
    </div>
</div>
{{ end }}
