{{ define "title" }}Home{{ end }} {{ define "main" }}
<div class="view md:pr-20">
  <div class="flex flex-row-reverse justify-between">
    <h1 class="text-end font-bold text-xl my-2 text-black">الاقسام الرئيسية</h1>
    {{ if not .IsLoggedIn }}
    <div class="ml-2 hidden justify-start md:flex">
      <button
        class="rounded-2xl bg-[#612C8C] p-2 font-semibold text-white"
        hx-get="/signup"
        hx-select="body"
        hx-target="body"
        hx-swap="outerHTML"
        hx-push-url="true"
      >
        انشائ حساب
      </button>
      <button
        class="ml-2 rounded-2xl bg-[#612C8C] p-2 font-semibold text-white"
        hx-get="/login"
        hx-select=".view"
        hx-target="main"
        hx-swap="outerHTML"
        hx-push-url="true"
      >
        تسجيل دخول
      </button>
    </div>
    {{ end }}
  </div>

  <div
    class="text-md mt-4 grid grid-cols-2 justify-items-center gap-y-4 gap-x-7 font-bold leading-5 text-[#612C8C] md:grid-cols-3 pb-20 md:pb-0"
  >
    <div
      class="flex h-full w-full cursor-pointer flex-col items-center justify-center rounded-lg p-2 shadow-lg bg-[#E5E5E5E5]"
      hx-get="/courses"
      hx-select=".view"
      hx-target=".view"
      hx-swap="outerHTML"
      hx-push-url="true"
    >
      <img
        src="/static/icons/homepage/Video.svg"
        alt="icon"
        class="h-[90px] w-[90px] md:h-[100px] md:w-[100px]"
      />
      <span class="mb-6">الدروس</span>
    </div>
    <div
      class="flex h-full w-full cursor-pointer flex-col items-center justify-center rounded-lg p-2 shadow-lg bg-[#E5E5E5E5]"
      hx-get="/progress"
      hx-select=".view"
      hx-target=".view"
      hx-swap="outerHTML"
      hx-push-url="true"
    >
      <img
        src="/static/icons/homepage/Evaluation.svg"
        alt="icon"
        class="h-[90px] w-[90px] sm:h-[100px] sm:w-[100px]"
      />
      <span class="mb-6">مستوى التقدم</span>
    </div>
    <div
      hx-get="/materials"
      hx-select=".view"
      hx-target=".view"
      hx-swap="outerHTML"
      hx-push-url="true"
      class="flex h-full w-full cursor-pointer flex-col items-center justify-center rounded-lg p-2 shadow-lg bg-[#E5E5E5E5]"
    >
      <img
        src="/static/icons/homepage/Books.svg"
        alt="icon"
        class="h-[90px] w-[90px] sm:h-[100px] sm:w-[100px]"
      />
      <span class="mb-6">المواد التعليمية</span>
    </div>
    <div
      hx-get="/myprofile"
      hx-select=".view"
      hx-target=".view"
      hx-swap="outerHTML"
      hx-push-url="true"
      class="flex h-full w-full cursor-pointer flex-col items-center justify-center rounded-lg p-2 shadow-lg bg-[#E5E5E5E5]"
    >
      <img
        src="/static/icons/homepage/Student_card.svg"
        alt="icon"
        class="h-[90px] w-[90px] sm:h-[100px] sm:w-[100px]"
      />
      <span class="mb-6">ملفي الشخصي</span>
    </div>
    <div
      class="flex h-full w-full cursor-pointer flex-col items-center justify-center rounded-lg p-2 shadow-lg bg-[#E5E5E5E5]"
    >
      <img
        src="/static/icons/homepage/Communication.svg"
        alt="icon"
        class="h-[90px] w-[90px] sm:h-[100px] sm:w-[100px]"
      />
      <span class="mb-6">الدردشة</span>
    </div>
    <div
      class="flex h-full w-full cursor-pointer flex-col items-center justify-center rounded-lg p-2 shadow-lg bg-[#E5E5E5E5]"
    >
      <img
        src="/static/icons/homepage/Pendilum.svg"
        alt="icon"
        class="h-[90px] w-[90px] sm:h-[100px] sm:w-[100px]"
      />
      <span class="mb-6">الالعاب</span>
    </div>
  </div>
</div>
{{ end }}
