{{ define "userForm" }}
<form
  class="flex flex-col gap-6"
  hx-{{.HxMethod}}="{{.HxRoute}}"
  hx-trigger="submit"
  hx-select=".view"
  hx-target=".view"
  hx-swap="outerHTML"
  hx-push-url="true"
  enctype="multipart/form-data"
>
  <label
    class="select-none cursor-pointer mt-px ml-3 mb-0 text-sm font-normal text-blue-gray-500"
    for="firstname"
  >
  First Name
  </label>
  <input
    type="text"
    placeholder="{{ if .User.Firstname}}{{.User.Firstname}}{{ end }}"
    name="firstname"
    id="firstname"
  />
  <label
    class="select-none cursor-pointer mt-px ml-3 mb-0 text-sm font-normal text-blue-gray-500"
    for="lastname"
  >
  Last Name
  </label>
  <input
    type="text"
    placeholder="{{ if .User.Lastname}}{{.User.Lastname}}{{ end }}"
    name="lastname"
    id="lastname"
  />
  <label
    class="select-none cursor-pointer mt-px ml-3 mb-0 text-sm font-normal text-blue-gray-500"
    for="user_img"
  >
    User Image
  </label>
  <input
    type="file"
    placeholder="{{if .User.ImgURL}}{{.User.ImgURL}}{{ end }}"
    name="user_img"
    id="user_img"
  />
  <label
    class="select-none cursor-pointer mt-px ml-3 mb-0 text-sm font-normal text-blue-gray-500"
    for="phone_number"
  >
  Phone Number
  </label>
  <input
    type="number"
    placeholder="{{ if .User.PhoneNumber}}{{.User.PhoneNumber}}{{ end }}"
    name="phone_number"
    id="phone_number"
  />
  <label
    class="select-none cursor-pointer mt-px ml-3 mb-0 text-sm font-normal text-blue-gray-500"
    for="parent_phone_number"
  >
  Parent Phone Number
  </label>
  <input
    type="number"
    placeholder="{{ if .User.ParentPhoneNumber}}{{.User.ParentPhoneNumber}}{{ end }}"
    name="parent_phone_number"
    id="parent_phone_number"
  />
  <button type="submit">Save</button>
</form>
{{ end }}
